.about {
  .banner {
    position: relative;
    background-color: black;

    .banner-img {
      
      width: auto;
      height: 500px;
      size: cover;
      opacity: 0.5;
    }

    .about-title {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      align-content: center;
      border: 2px solid black;
    }
  }
}