.about {
  .banner {
    position: relative;
    background-color: black;

    .banner-img {
      width: auto;
      height: 500px;
      size: cover;
      opacity: 0.5;
    }

    .about-title {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      align-content: center;
      border: 2px solid black;
    }
  }

  .contact {
    i {
      margin-right: 8px;
    }

    a {
      color: black;

      &:hover {
        background: gray;
      }
    }
  }
}

.profile-grid {
  display: grid;
  grid-template-areas:
  'top top'
  'skills skills'
  'achive achive';
  grid-gap: 1rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: #ccc 1px solid;

    .profile-img {
      width: 80%;
    }
  }

  .profile-skills {
    grid-area: skills;
    text-align: center;
    border: #ccc 1px solid;

    .language {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:center;
    }
  }

  .profile-achive {
    grid-area: achive;
    text-align: center;
    border: #ccc 1px solid;
  }
}