.site-footer {

  background-color: $footer-black;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: $white;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: darkgray;

          &.github:hover {
            color: #4078c0;
          }
        }
      }
    }
  }
}