@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Source+Code+Pro|Noto+Sans+KR|Ubuntu|Cookie');

$site-font: 'Ubuntu', 'Noto Sans KR', sans-serif;
$code-font: 'Source Code Pro', 'Nanum Gothic Coding';

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
$footer-black: #141313;
