@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');

$site-font: 'Roboto', 'Noto Sans KR', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
