@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding|Source+Code+Pro|Noto+Sans+KR|Ubuntu|Cookie');

$site-font: 'Ubuntu', 'Noto Sans KR', sans-serif;
$code-font: 'Source Code Pro', 'Nanum Gothic Coding';

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
$footer-black: #141313;

$primary: #29A3A0;
$info: #964b00;

// color
// 파스텔톤 청록색 #14C991
// 모래색 #FCD365
// 물묻은 모래색 #C99814
